@(vacationingNerds: List[scala.collection.immutable.Map[String,String]])

@main("Vacation me") {

  <div class="main column seven center">
    <header class="header">
      <h1 class="logo">Nerds on Vacation</h1>
    </header>

    <table>
      <thead>
        <tr>
          <th></th>
          <th>Nerd</th>
          <th>Vacationing until</th>
        </tr>
      </thead>

      <tbody>
        @vacationingNerds.map { nerd =>
        <tr>
          <td class="right"><img src=@nerd("gravatarUrl") /></td>
          <td class="middle">@nerd("name")</td>
          <td class="middle">@nerd("endDate")</td>
        </tr>
        }
      </tbody>
    </table>

    <footer class="footer">
      <p>
        Built
        by <a href="https://stable.bignerdranch.com/users/34/edit">Charlie
          Tanksley</a>.  Source
        at <a href="https://github.com/charlietanksley/vacation-me">https://github.com/charlietanksley/vacation-me</a>.
        Contributions always welcome.
      </p>
    </footer>

  </div>
}
