@(vacationingNerds: List[scala.collection.immutable.Map[String,String]])

@main("Vacation me") {

  <div class="main">
    <header class="header column twelve">
      <h1 class="logo">Nerds on Vacation</h1>
    </header>

    <table class="column eight center">
      <thead>
        <tr>
          <th></th>
          <th>Nerd</th>
          <th>Vacationing until</th>
        </tr>
      </thead>

      <tbody>
        @vacationingNerds.map { nerd =>
        <tr>
          <td class="right"><img src=@nerd("gravatarUrl") /></td>
          <td class="middle">@nerd("name")</td>
          <td class="middle">@nerd("endDate")</td>
        </tr>
        }
      </tbody>
    </table>
  </div>
}
